:root{
	/* Colors Primary Text */

	--very_dark_des_blue: hsl(238, 29%, 16%);
	--soft_red: hsl(14, 88%, 65%);

	/* Gradient */

	--soft_violet: hsl(273, 75%, 66%);
	--soft_blue: hsl(240, 73%, 65%);
	
	/* Dividers */
	--light_gray_blue: hsl(240, 5%, 91%);

	/* Center images */
	--center_img: calc(50% - 117px);
}


.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 2px;
}
.attribution a { color: var(--soft_violet); }

.container{
	width: 100vw;
	height: 100vh;
	min-height: 700px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: -webkit-gradient(linear, left top, left bottom, from(hsl(273, 75%, 66%)),to(hsl(240, 73%, 65%)));
	background: -o-linear-gradient(top, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
	background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'Kumbh Sans', sans-serif;
}

.faq-card{
	position: relative;
	bottom: -4%;
	width: 87%;
	max-width: 400px;
	height: 535px;
	background-color: #FFF;
	border-radius: 22px;
	color: var(--very_dark_des_blue);
	z-index: 1;
}

.faq-card__img{
	position: absolute;
	top: -20%;
	right: var(--center_img);
}

.faq-card__img-shadow{
	position: absolute;
	right: var(--center_img);
}

.faq{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: absolute;
	top: 19%;
	padding: 1.4rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.faq__title{
	display: inline;
	font-size: 2rem;
	color: var(--very_dark_des_blue);
}

.faq-main{
	width: 100%;
	margin-top: 1.4rem;
	
}

.faq-question{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid var(--light_gray_blue);
	font-size: .8rem;
	font-weight: 400;
}

.faq-question .faq-question__input{
	display: none;
}

.faq-question__text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 95%;
	height: 3.3rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.arrow{
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.faq-question__answer{
	display: block;
	max-height: 0;
	margin-bottom: 0rem;
	overflow: hidden;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.faq-question__text:hover, .faq-question__answer:hover{
	color: var(--soft_red);
}

.faq-question__input:checked + .faq-question__text{
	font-weight: 700;
}

.faq-question__input:checked ~ .faq-question__answer{
	max-height: 100px;
	margin-bottom: 1rem;
}

.faq-question__input:checked ~ .arrow{
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

@media(min-width: 920px) and (max-width: 1199px){
	.faq-card{
		max-width: 920px;
		height: 510px;
		bottom: 0;
		overflow: hidden;
	}

	.container:before{
		content: url("../images/illustration-box-desktop.svg");
		position: absolute;
		top: calc(45% - 20px);
		left: calc(40% - 440px);
		z-index: 2;
	}

	.faq{
		left: 50%;
		top: 10%;
		width: 40%;
		background-color: #FFF;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	
	.faq-card__img{
		right: calc(100% - 390px);
		top: 12%;
	}

	.faq-card__img-shadow{
		right: calc(100% - 390px);
		top: -57%;

	}
}

@media (min-width: 1200px){
	.faq-card{
		
		max-width: 920px;
		height: 510px;
		bottom: 0;
		overflow: hidden;
	}

	.container:before{
		content: url("../images/illustration-box-desktop.svg");
		position: absolute;
		top: calc(45% - 20px);
		left: calc(40% - 410px);
		z-index: 2;
	}

	.faq{
		left: 50%;
		top: 10%;
		width: 40%;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	
	.faq-card__img{
		right: 57%;
		top: 12%;
	}

	.faq-card__img-shadow{
		right: 57%;
		top: -57%;

	}
}