:root{
	/* Colors Primary Text */

	--very_dark_des_blue: hsl(238, 29%, 16%);
	--soft_red: hsl(14, 88%, 65%);

	/* Gradient */

	--soft_violet: hsl(273, 75%, 66%);
	--soft_blue: hsl(240, 73%, 65%);

	/* Text */

	--very_dark_gray_blue: hsl(237, 12%, 33%);
	--dark_gray_blue: hsl(240, 6%, 50%);

	/* Dividers */
	--light_gray_blue: hsl(240, 5%, 91%);

	/* Center images */
	--center_img: calc(50% - 117px);
}


.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a { color: var(--ligth_dark__blue); }

.container{
	width: 100vw;
	height: 100vh;
	min-height: 700px;
	display: flex;
	background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;
}

.container__card{
	position: relative;
	bottom: -4%;
}

.card{
	width: 87%;
	max-width: 400px;
	height: 535px;
	background-color: #FFF;
	border-radius: 22px;
	color: var(--very_dark_des_blue);
}

.card__img{
	position: absolute;
	top: -20%;
	right: var(--center_img);
}

.card__img-shadow{
	position: absolute;
	right: var(--center_img);
}

.card__faq{
	position: absolute;
	top: 19%;
}

.faq{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	flex-direction: column;
	padding: 1.4rem;
	align-items: center;
}

.faq__title{
	font-size: 2rem;
	color: var(--very_dark_des_blue);
}

.faq__main{
	width: 100%;
	margin-top: 1.4rem;
	
}

.faq__question{
	border-bottom: 1px solid var(--light_gray_blue);
	font-size: .8rem;
	font-weight: 400;
}

.faq__question-text{
	display: flex;
	height: 3.3rem;
	align-items: center;
	justify-content: space-between;
	transition: all .5s ease;
}

.arrow{
	transform: rotate(0deg);
	transition: all .5s ease;
}

.faq__question-answer{
	display: block;
	max-height: 0;
	margin-bottom: 0rem;
	overflow: hidden;
	transition: all .5s;
}

.faq__question-text:hover, .faq__question_answer:hover{
	color: var(--soft_red);
}

.faq__question_active .faq__question-text{
	font-weight: 700;
	color: var(--very_dark_gray_blue)
}

.faq__question_active .faq__question-answer{
	max-height: 100px;
	margin-bottom: 1rem;
}

.faq__question_active .arrow{
	transform: rotate(180deg);
}

@media(min-width: 920px) and (max-width: 1199px){
	.card{
		max-width: 920px;
		height: 510px;
		bottom: 0;
		overflow: hidden;
	}

	.container:before{
		content: url("../images/illustration-box-desktop.svg");
		position: absolute;
		top: calc(45% - 20px);
		left: calc(40% - 440px);
		z-index: 1;
	}

	.card__faq{
		left: 50%;
		top: 10%;
	}

	.faq{
		width: 40%;
		background-color: #FFF;
		align-items: flex-start;
	}
	
	.card__img{
		right: calc(100% - 390px);
		top: 12%;
	}

	.card__img-shadow{
		right: calc(100% - 390px);
		top: -57%;

	}
}

@media (min-width: 1200px){
	.card{
		
		max-width: 920px;
		height: 510px;
		bottom: 0;
		overflow: hidden;
	}

	.container:before{
		content: url("../images/illustration-box-desktop.svg");
		position: absolute;
		top: calc(45% - 20px);
		left: calc(40% - 410px);
		z-index: 1;
	}

	.card__faq{
		left: 50%;
		top: 10%;
	}

	.faq{
		width: 40%;
		align-items: flex-start;
	}
	
	.card__img{
		right: 57%;
		top: 12%;
	}

	.card__img-shadow{
		right: 57%;
		top: -57%;
	}
}